{% extends 'base.html.twig' %}
{% block body %}
<section class="messages">
<table style="margin-top: 3%" class="table table-hover">
 <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Mot de passe </th>
      <th scope="col"></th>
 <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for user in users %}
  {% if user.roles[0] in ['ROLE_USER'] %}
    <tr >
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
   {% if is_granted('ROLE_ADMIN') %}
       <td> <a  href="{{path('user_delete',{'id':user.getId()})}}"><img src="{{ asset('/images/delete.png') }}"></a></td>
 <td><a  href="{{path('user_edit',{'id':user.getId()})}}"><img src="{{ asset('/images/edit.png') }}"></a></td>
  {% endif %}
    </tr>
    {% endif %}
         {% endfor %}
  </tbody>
</table>
  </section>
{% endblock %}